.match-dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "players players players"
    "deck prompt-wrapper logs"
    "discarded-cards player-cards logs";
  gap: 1rem;

  > #players            { grid-area: players; }
  > #deck               { grid-area: deck; }
  > #discarded-cards    { grid-area: discarded-cards; }
  > #prompt-wrapper     { grid-area: prompt-wrapper; }
  > #logs               { grid-area: logs; }
  > #player-cards       { grid-area: player-cards; }
}
